# Datasaets
/dataset/physionet.org/files/mimic-cxr-jpg/2.1.0/files
dataset/physionet.org/

# Shell scripts
*.sh

# Logs folder
GENERATION/scripts/logs/
*.log

# Python cache
__pycache__/
.cache/

# Large files (model weights & CSVs)
*.pth
*.csv

# Env
.env
.env_*

# Outputs
**/outputs/

#Experiments
Experiments/


models/