# Existing exclusion
/dataset/physionet.org/files/mimic-cxr-jpg/2.1.0/files

# Shell scripts
*.sh

# Logs folder
GENERATION/scripts/logs/

# Python cache
__pycache__/

# Large files (model weights & CSVs)
*.pth
*.csv

# Env

.env

.env_*

# Log files

*.log




dataset/physionet.org/


# All outputs folders
**/outputs/
