torch>=2.0
torchvision>=0.15
timm
transformers
diffusers
accelerate
safetensors
sentencepiece
protobuf
mmengine
pandas
numpy
scipy
scikit-learn
hdbscan
nltk
tensorboard
tqdm
Pillow
matplotlib
seaborn
umap-learn
